# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
**/node_modules/
node_modules
**/node_modules
*.nodevalt-backup-*
**/*.nodevalt-backup-*
.pnp/
.pnp.*
.yarn/
.pnpm-store/

# testing
coverage/
**/coverage/

# next.js
.next/
**/.next/
out/
**/out/

# python
__pycache__/
**/__pycache__/
.venv/
**/venv/

# production
build/
**/build/
dist/
**/dist/

# misc
.DS_Store
**/.DS_Store
*.pem
data/
**/data/
.cache/
**/.cache/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# env files
.env*
**/.env*

# vercel
.vercel/
**/.vercel/

# typescript
*.tsbuildinfo
**/*.tsbuildinfo
.next-env.d.ts
**/.next-env.d.ts
